<div
  class="selected-option option"
  (click)="toggleDropdown()"
  [class.disabled]="disabled"
>
  {{selectedLabel}}
</div>

<ul *ngIf="isOpen" class="option-list">
  <li
    tabindex="0"
    *ngFor="let option of options; let i = index"
    (click)="chooseOption(option)"
    (mouseenter)="currentIndex = i"
    class="option"
    [class.selected]="isSelected(option.value, i)"
  >
    {{option?.label}}
  </li>
</ul>


