$accent: #005ea8;

:host {
  display: block;
  font-size: 18px;
  min-height: 40px;
  width: 100%;
  max-width: 300px;
  border-radius: 1px;
  background-color: #fff;
  font-family: Verdana, Arial, sans-serif;
  position: relative;

  * {
    user-select: none;
  }

  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  .option-list {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #b4b4b4;
    border-top: 0;
  }

  .option {
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    cursor: pointer;
    list-style: none;

    &:hover, &.selected {
      background-color: $accent;
      color: #fff;
    }
  }

  .selected-option {
    border: 1px solid #b4b4b4;
  }
}
