<app-custom-dropdown
  [options]="options"
  [formControl]="control"
></app-custom-dropdown>

<p>Current Value: {{control.value}}</p>

<p><button (click)="toggleDisableControlState()">Disable Control</button></p>
